// imports: fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
// varaibles : repeated styles

// colors

$primary-blue: hsl(223, 87%, 63%);
$secondary-pale-blue: hsl(223, 100%, 88%);
$secondary-light-red: hsl(354, 100%, 66%);
$neutral-gray: hsl(0, 0%, 59%);
$neutral-very-dark-blue: hsl(209, 33%, 12%);

// Typography, font family & weights
$font-libreFranklin: "Libre Franklin", sans-serif;
$font-300: 300;
$font-600: 600;
$font-700: 700;


::before, ::after, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    color: $primary-blue;
    background-color: 
    #fff;
}

a:hover{
    color:  hsla(223, 87%, 63%, 0.8);
}

a:hover, .btn:hover{
    cursor: pointer;
    text-decoration: none;
}

.btn:hover, #submitEmailBtn:hover{
    background-color: hsla(223, 87%, 63%, 0.8)
}

.btn, #submitEmailBtn {
    background-color: $primary-blue;
    color: #fff;
    border: none;
    margin-bottom: 4.5rem;
}

.btn.error {
    margin-bottom: 2.25rem;
}

img {
    max-width: 100%;
}

p{
    font-size: 11px;
}


body {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: $font-libreFranklin;
}

.container {
    max-width: 86%;
    padding-block: 80px 35px;
}

.header__logo{
    padding-bottom: 2rem;
}
.header > h1 {
    color: $neutral-gray;
    font-weight: $font-300;
    padding-bottom: 1rem;
    font-size: 1.75rem;
}

.header > h1 > span {
    color: $neutral-very-dark-blue;
    font-weight: $font-700;
}

.header > p{
    color: $neutral-very-dark-blue;
    padding-bottom: 2rem;
}

// form section
form {
    display: flex;
    flex-direction: column;
}
.input.wrapper {
    width: 100%;
    text-align: center;
}

input{
    outline: none;
    border: 1px solid $secondary-pale-blue;
    margin-bottom: .6rem;
    width: 100%;
}
input, .btn {    
    padding: .75rem 2.5rem;
    border-radius:2rem;
    font-weight: $font-600;
}

input::placeholder {
    color: $secondary-pale-blue;
    opacity: 1; /* Firefox */
  }

input::-ms-input-placeholder { /* Edge 12 -18 */
    color: $secondary-pale-blue;
  }

 .form .error {
    display: none;
    font-style: italic;
 } 
.form.red .error { 
    display: block;   
    border-color: $secondary-light-red;
    color: $secondary-light-red;
}
.form.red input {
    border-color: $secondary-light-red;
}

.form.green input{
    border-color: $primary-blue;
}
.form.green .error {
    display: block; 
    color: $primary-blue;
}

.form.red .btn, .form.green .btn {
    margin: 2rem 0 2rem 0;
}

.img__dash {    
    margin-bottom: 7.5rem;
}
.links {
    display: flex;
justify-content: center;
padding-bottom: 30px;
}

.links > a + a{
    margin-left: 10px;
}
.links > a {
    display: flex;
    border-radius: 50%;
    border: 1px solid $secondary-pale-blue;
    background-color: #fff;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
}

@media (min-width: 800px){
    body {
        justify-content: center;
    }
    .container {
        width: 40.5rem;
    }
    .header > h1{
        font-size: 42px;
    }
    p{
        font-size: 20px;
    }
    input, .btn, .error {
        font-size: 16px;
        padding: 22px;
        border-radius: 2rem 2rem;
    }

  
    form 
    {
        flex-direction: row;
        
    }
    input.wrapper {
        width: 68%;
        
    }
    form .btn {
        width: 30%;
        border: 1px solid $secondary-pale-blue;
        margin-left: 5px;
        margin-top: 0;
            }

  
    input, .btn {      
        border-radius: 2rem;    
    }
     .form.red .btn, .form.green .btn {
        margin: 0;
    }

    .form .error {
        display: none;
        font-style: italic;
        text-align: start;
        padding-top: 0;
        padding-bottom: 3rem;
        } 
}